@font-face {
  font-family: 'Heebo';
  src: url('/fonts/Heebo/Heebo-Regular.ttf');
}
@font-face {
  font-family: 'Heebo-Black';
  src: url('/fonts/Heebo/Heebo-Black.ttf');
}

@font-face {
  font-family: 'Heebo-Bold';
  src: url('/fonts/Heebo/Heebo-Bold.ttf');
}
@font-face {
  font-family: 'Heebo-ExtraBold';
  src: url('/fonts/Heebo/Heebo-ExtraBold.ttf');
}
@font-face {
  font-family: 'Heebo-Light';
  src: url('/fonts/Heebo/Heebo-Light.ttf');
}
@font-face {
  font-family: 'Heebo-Medium';
  src: url('/fonts/Heebo/Heebo-Medium.ttf');
}
@font-face {
  font-family: 'Heebo-Thin';
  src: url('/fonts/Heebo/Heebo-Thin.ttf');
}
